<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Title</title>

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/css/layout1.css}" rel="stylesheet">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <th:block layout:fragment="script"></th:block>
  <th:block layout:fragment="css"></th:block>

</head>
<body>

<div th:replace="fragments/header::header"></div>

<div layout:fragment="content" class="content">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>



  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">
          내 예약 보기
        </h1>
      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <h1>예약 리스트</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>음식점이름</th>
            <th>요청사항</th>
            <th>인원</th>
            <th>예약시간</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:if="${reservations.isEmpty()}">
            <tr>
              <td colspan="4">예약 데이터가 없습니다.</td>
            </tr>
          </th:block>

          <th:block th:each="reservation : ${reservations}" th:if="${not reservations.isEmpty()}">
            <tr>
              <td th:text="${reservation.re_restaurant.restNm}" >식당</td>
              <td th:text="${reservation.request}"></td>
              <td th:text="${reservation.people}"></td>
              <td th:text="${reservation.create_date}"></td>
              <td>
                <div class="buttonContainer" th:data-re_id="${reservation.re_id}">
                  <button class="cancelButton" th:if="${reservation.create_date > #dates.createNow()}">예약취소</button>
                  <div id="reviewForm" th:if="${reservation.create_date < #dates.createNow() and reservation.review == null}" th:data-re_id="${reservation.re_id}">
                    <input type="hidden" id="re_id" name="re_id" th:value="${reservation.re_id}">
                    <select id="reviewSelect" placeholder="별점을 선택해주세요">
                      <option value="1">1점</option>
                      <option value="2">2점</option>
                      <option value="3">3점</option>
                      <option value="4">4점</option>
                      <option value="5">5점</option>
                    </select>
                    <button id="submitReviewButton">제출</button>
                  </div>
                </div>
              </td>
            </tr>
          </th:block>

          </tbody>
        </table>
        <div>
          <ul class="pagination">
            <li th:if="${page.first}">
              <a href="#" class="page-link disabled">&laquo;</a>
            </li>
            <li th:unless="${page.first}">
              <a th:href="@{/mypage/reservation(page=0,size=${page.size})}" class="page-link">&laquo;</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, page.totalPages-1)}">
              <a th:href="@{/mypage/reservation(page=${i},size=${page.size})}" th:class="${page.number == i} ? 'page-link active' : 'page-link'">
                <span th:text="${i + 1}"></span>
              </a>
            </li>
            <li th:if="${page.last}">
              <a href="#" class="page-link disabled">&raquo;</a>
            </li>
            <li th:unless="${page.last}">
              <a th:href="@{/mypage/reservation(page=${page.totalPages-1},size=${page.size})}" class="page-link">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div> <!-- 푸터-->

</div>

<div th:replace="fragments/footer::footer"></div>

</body>

<script th:inline="javascript">
   document.addEventListener("DOMContentLoaded", function() {
    // 취소 버튼과 리뷰 작성 폼에 대한 이벤트 핸들링
    var buttons = document.querySelectorAll('.cancelButton');
    buttons.forEach(function(button) {
        var container = button.parentNode;
        var re_id = container.dataset.re_id;

        button.addEventListener('click', function() {
            var confirmed = confirm('예약을 취소하시겠습니까?');
            if (confirmed) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/reservation/cancel?re_id=' + re_id, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var response = xhr.responseText;
                            console.log('서버 응답:', response);
                            location.reload();
                        } else {
                            console.error('Ajax 요청 실패:', xhr.status);
                        }
                    }
                };
                xhr.send();
            }
        });
    });

    // 리뷰 작성 폼에 대한 이벤트 핸들링
   var submitReviewButton = document.getElementById("submitReviewButton");
    if (submitReviewButton) {
        submitReviewButton.addEventListener("click", function() {
            var reviewSelect = document.getElementById("reviewSelect");
            var selectedValue = reviewSelect.value;
            var re_id = document.getElementById("re_id").value;

            /*<![CDATA[*/
            var csrfToken = /*[[${_csrf.token}]]*/ '';
            var csrfHeader = /*[[${_csrf.headerName}]]*/ '';
            /*]]>*/

            console.log('Selected Value:', selectedValue);
            console.log('CSRF Token:', csrfToken);
            console.log('CSRF Header:', csrfHeader);

            if (selectedValue !== "") {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/review", true);
                xhr.setRequestHeader(csrfHeader, csrfToken);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            console.log("리뷰 전송 성공:", xhr.responseText);
                            alert("반영되었습니다. 이용해주셔서 감사합니다.");
                            location.reload(); // 페이지 리로드 또는 필요한 작업 수행
                        } else {
                            console.error("리뷰 전송 실패:", xhr.statusText);
                        }
                    }
                };

                var formData = "re_id=" + encodeURIComponent(re_id) + "&star=" + encodeURIComponent(selectedValue);
                xhr.send(formData);
            } else {
                alert("별점을 선택해주세요.");
            }
        });
    }
});
</script>

</script>
</html>