<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }

        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }


        .nav-item > a {
            text-align: center;  /* 텍스트 중앙 정렬 */
        }

    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>

<div layout:fragment="content">
    <h2>어디로 갈까요?</h2>

    <!-- 카테고리 메뉴 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarNav">
            <div class="d-flex justify-content-around mb-2">
                <a class="nav-link" href="/rest/jeolla">전남/전북/광주 전체</a>
                <a class="nav-link" href="/rest/jeolla?regions=여수시,순천시,광양시">여수/순천/광양</a>
                <a class="nav-link" href="/rest/jeolla?regions=군산시,익산시,김제시">군산/익산/김제</a>
                <a class="nav-link" href="/rest/jeolla?regions=정읍시,전주시,완주군">정읍/전주/완주</a>
                <a class="nav-link" href="/rest/jeolla?regions=진안군,무주군,장수군">진안/무주/장수</a>

                <a class="nav-link" href="/rest/jeolla?regions=동구,서구,남구,북구">동구/서구/남구/북구</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="jeollaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">그 외</a>
                    <div class="dropdown-menu" aria-labelledby="jeollaDropdown">
                        <a class="dropdown-item" href="/rest/jeolla?regions=곡성군,구례군">곡성/구례</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=장성군,담양군">장성/담양</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=완도군,진도군,해남군">완도/진도/해남</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=목포시,신안군,무안군">목포/신안/무안</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=영광군,함평군">영광/함평</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=장흥군,보성군,고흥군">장흥/보성/고흥</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=나주시,화순군">나주/화순</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=강진군,영암군">강진/영암</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=순창군,임실군,남원시">순창/남원/임실</a>
                        <a class="dropdown-item" href="/rest/jeolla?regions=부안군,고창군">부안/고창</a>
                        <a class="dropdown-item" href=href="/rest/jeolla/region?region=광산구">광산구</a>

                    </div>
                </div>
            </div>
        </div>
    </nav>


    <input type="hidden" name="searchQuery" th:value="${restSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(restSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${restSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="rest, status: ${rests.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/rest/' +${rest.id}" class="text-dark">
                        <img th:src="${rest.imgUrl}" class="card-img-top" th:alt="${rest.restNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title"><[[${rest.category}]]> [[${rest.restNm}]]</h4>
                            <p class="card-text">번호: [[${rest.restPhone}]]</p>
                            <p class="card-text">[[${rest.address}]]</p>
                            <h3 class="card-title">[[${rest.introduction}]]</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <div th:with="start=${(rests.number/maxPage)*maxPage + 1}, end=(${(rests.totalPages == 0) ? 1 : (start + (maxPage - 1) < rests.totalPages ? start + (maxPage - 1) : rests.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${rests.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${restSearchDto.searchQuery} + '&page=' + ${rests.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${rests.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${restSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${rests.number+1 ge rests.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${restSearchDto.searchQuery} + '&page=' + ${rests.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

</div>
