<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <h1>마이페이지</h1>
    <p>안녕하세요, 회원님! 이곳은 마이페이지입니다.</p>

    <!-- 메뉴 -->
    <ul class="nav">
        <li class="nav-item">
            <!--<a class="nav-link active" th:href="'/members/mypage/update/'+${#authentication.principal.id}">프로필 수정</a>-->
            <a class="nav-link active" href="/members/mypage/check">프로필 수정</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/members/mypage/star">관심 식당</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/members/mypage/review">나의 리뷰</a>
        </li>
    </ul>

    <!-- 프로필 수정 내용 시작 -->
    <div>
        <!-- 여기에 프로필 수정 폼 또는 관련 내용을 포함 -->
        <!-- 예: 프로필 사진, 이름 수정 폼, 비밀번호 변경 폼 등 -->
    </div>
    <!-- 프로필 수정 내용 끝 -->

</div>
</html>